.footer-nav {
  @include reset-list;
  margin-right: 13px;
  padding-top: 6px;

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 0;
    margin-bottom: 42px;
  }

  &:first-of-type {
    margin-right: 75px;

    @media screen and (max-width: 1172px) {
      margin-right: 15px;
    }

    @media screen and (max-width: $desktop-width - 1) {
      margin-right: 11vw;
    }

    @media screen and (max-width: $tablet-width - 1) {
      margin-right: 0;
    }
  }
}

.footer-nav__item {
  margin-bottom: 22px;

  @media screen and (max-width: $tablet-width - 1) {
    margin-bottom: 22px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// .footer-nav__link {

// }
