.footer-nav {
  @include reset-list;

  @media screen and (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  &:first-of-type {
    margin-right: 67px;

    @media screen and (max-width: 1150px) {
      margin-right: 15px;
    }

    @media screen and (max-width: $desktop-width) {
      margin-right: 80px;
    }

    @media screen and (max-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.footer-nav__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

// .footer-nav__link {

// }
