.page-catalog {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #F6F5F4;
    bottom: 129px;
    left: 0;

    // @media screen and (max-width: $desktop-width - 1) {
    //   left: -10vw;
    // }

    @media screen and (max-width: $tablet-width - 1) {
      display: none;
    }
  }
}

.page-catalog__title {
  width: 100%;
  min-height: 261px;
  padding-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient($bg-catalog, $bg-catalog),
   url("../img/bg_main_catalog_dt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($bg-catalog, $bg-catalog),
     url("../img/bg_main_catalog_dt@2x.jpg");
  }

  @media screen and (max-width: $desktop-width - 1) {
    background-image: linear-gradient($bg-catalog, $bg-catalog),
     url("../img/bg_main_catalog_small.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($bg-catalog, $bg-catalog),
       url("../img/bg_main_catalog_small@2x.jpg");
    }
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding: 79px 11% 10px;
    text-align: center;
    background-image: linear-gradient($bg-catalog, $bg-catalog),
     url("../img/bg_main_catalog_mob.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient($bg-catalog, $bg-catalog),
       url("../img/bg_main_catalog_mob@2x.jpg");
    }
  }

  h1 {
    @include reset-text;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    text-transform: uppercase;
    color: $text-light;

    // @media screen and (max-width: $tablet-width - 1) {
    //   font-size: 38px;
    // }
  }

  p {
    @include reset-text;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    color: $text-light;
  }
}

.page-catalog__shop {
  padding-top: 81px;
  padding-bottom: 74px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 50px;
    padding-bottom: 73px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}
