.page-main__title {
  width: 100%;
  min-height: 463px;
  padding-top: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
   url("../img/bg_main_dt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
     url("../img/bg_main_dt@2x.jpg");
  }

  @media screen and (max-width: $desktop-width - 1) {
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
     url("../img/bg_main_tab.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
       url("../img/bg_main_tab@2x.jpg");
    }
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 189px;
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
     url("../img/bg_main_mob.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
       url("../img/bg_main_mob@2x.jpg");
    }
  }

  p {
    @include reset-text;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    color: $text-light;

    @media screen and (max-width: $desktop-width - 1) {
      margin-right: 17px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      margin-right: 0;
    }

    &:first-of-type {
      margin-bottom: -7px;
      font-weight: bold;
      font-size: 45px;
      line-height: 130%;
      text-transform: uppercase;
      letter-spacing: 0.03em;

      @media screen and (max-width: $tablet-width - 1) {
        font-size: 38px;
      }
    }

    &:nth-of-type(2) {
      font-style: italic;
      font-weight: normal;
      font-size: 38px;
      line-height: 130%;

      @media screen and (max-width: $tablet-width - 1) {
        font-size: 34px;
      }
    }
  }
}

.page-main__slider {
  padding-top: 120px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 70px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 60px;
  }

  h2 {
    @include reset-text;
    min-height: 90px;
    width: fit-content;
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    color: $text-main;
    transform: translateX(-50%);
    z-index: 15;

    // @media screen and (max-width: $desktop-width - 1) {
    //   min-height: 85px;
    // }

    a {
      font-family: "Poppins", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $text-main;
      border-bottom: 1px solid $main;
      transition: all ease 0.6s;

      @media screen and (max-width: $desktop-width - 1) {
        padding-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $main;
      }

      &:active {
        opacity: 0.6;
        color: $main-active;
      }
    }
  }
}

.page-main__blog {
  padding-top: 103px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 43px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 24px;
  }

  h2 {
    @include reset-text;
    min-height: 90px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 59px;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $text-main;

    @media screen and (max-width: $tablet-width - 1) {
      margin-bottom: 49px;
    }

    a {
      padding-bottom: 6px;
      font-family: "Poppins", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $text-main;
      letter-spacing: normal;
      border-bottom: 1px solid $main;
      transition: all ease 0.6s;

      @media screen and (max-width: $desktop-width - 1) {
        padding-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $main;
      }

      &:active {
        opacity: 0.6;
        color: $main-active;
      }
    }
  }
}
