.page-main__title {
  width: 100%;
  min-height: 463px;
  padding-top: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
    url("../img/bg_main_dt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
      url("../img/bg_main_dt@2x.jpg");
  }

  @media screen and (max-width: $desktop-width - 1) {
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
      url("../img/bg_main_tab.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
        url("../img/bg_main_tab@2x.jpg");
    }
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 189px;
    background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
      url("../img/bg_main_mob.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba($main, 0.7), rgba($main, 0.7)),
        url("../img/bg_main_mob@2x.jpg");
    }
  }

  p {
    @include reset-text;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    color: $text-light;

    @media screen and (max-width: $desktop-width - 1) {
      margin-right: 17px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      margin-right: 0;
    }

    &:first-of-type {
      margin-bottom: -7px;
      font-weight: bold;
      font-size: 45px;
      line-height: 130%;
      text-transform: uppercase;
      letter-spacing: 0.03em;

      @media screen and (max-width: $tablet-width - 1) {
        font-size: 38px;
      }
    }

    &:nth-of-type(2) {
      font-style: italic;
      font-weight: normal;
      font-size: 38px;
      line-height: 130%;

      @media screen and (max-width: $tablet-width - 1) {
        font-size: 34px;
      }
    }
  }
}

.page-main__slider {
  padding-top: 120px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 70px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 60px;
  }

  h2 {
    @include reset-text;
    min-height: 90px;
    width: fit-content;
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    color: $text-main;
    transform: translateX(-50%);
    z-index: 15;

    a {
      font-family: "Poppins", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $text-main;
      border-bottom: 1px solid $main;
      transition: all ease 0.6s;

      @media screen and (max-width: $desktop-width - 1) {
        padding-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $main;
      }

      &:active {
        opacity: 0.6;
        color: $main-active;
      }
    }
  }
}

.page-main__blog {
  padding-top: 103px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 43px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 24px;
  }

  h2 {
    @include reset-text;
    min-height: 90px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 59px;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $text-main;

    @media screen and (max-width: $tablet-width - 1) {
      margin-bottom: 49px;
    }

    a {
      padding-bottom: 6px;
      font-family: "Poppins", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $text-main;
      letter-spacing: normal;
      border-bottom: 1px solid $main;
      transition: all ease 0.6s;

      @media screen and (max-width: $desktop-width - 1) {
        padding-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $main;
      }

      &:active {
        opacity: 0.6;
        color: $main-active;
      }
    }
  }
}

.page-main__faq {
  padding: 120px 7.5% 20px;

  @media screen and (max-width: $desktop-width - 1) {
    padding: 70px 0 20px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 60px;
  }

  h2 {
    @include reset-text;
    margin-bottom: 48px;
    text-align: center;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $text-main;

    @media screen and (max-width: $tablet-width - 1) {
      margin-bottom: 49px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      margin-bottom: 28px;
    }
  }

  ul {
    @include reset-list;
  }

  li {
    min-height: 112px;
    position: relative;
    padding: 43px 41% 30px 43px;
    border: 1px solid $main;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $main;
    }

    @media screen and (max-width: $desktop-width - 1) {
      padding: 43px 10% 17px 47px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      min-height: 83px;
      padding: 17px 19% 4px 25px;

      &:nth-of-type(2) h3 {
        width: 73%;
      }

      &:nth-of-type(3) h3 {
        width: 87%;
      }

      &:nth-of-type(4) h3 {
        width: 101%;
      }
    }
  }

  h3 {
    @include reset-text;
    margin-bottom: 10px;
    font-family: "Poppins", "Tahoma", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    @media screen and (max-width: $desktop-width - 1) {
      margin-bottom: 27px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      width: 88%;
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 140%;
    }
  }

  p {
    @include reset-text;
    padding-left: 7px;
    font-size: 16px;
    line-height: 130%;

    @media screen and (max-width: $desktop-width - 1) {
      padding-left: 0;
    }

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 14px;
      line-height: 143%;
    }

    span {
      width: 4px;
      height: 4px;
      display: inline-block;

      @media screen and (max-width: $desktop-width - 1) {
        width: 2px;
      }
    }
  }

  br {
    display: none;

    @media screen and (max-width: $tablet-width - 1) {
      display: block;
    }
  }
}

.page-main__insta {
  padding-top: 85px;
  padding-bottom: 128px;

  @media screen and (max-width: $desktop-width - 1) {
    padding-top: 50px;
    padding-bottom: 81px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 34px;
    padding-bottom: 71px;
  }

  h2 {
    @include reset-text;
    min-height: 103px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $text-main;

    span {
      display: contents;
      font-size: 121%;
    }

    @media screen and (max-width: $desktop-width - 1) {
      min-height: 92px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      margin-bottom: 46px;
    }

    a {
      padding-bottom: 4px;
      font-family: "Poppins", "Tahoma", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: $text-main;
      border-bottom: 1px solid $main;
      transition: all ease 0.6s;

      @media screen and (max-width: $desktop-width - 1) {
        padding-bottom: 5px;
      }

      &:hover,
      &:focus {
        color: $main;
      }

      &:active {
        opacity: 0.6;
        color: $main-active;
      }
    }
  }
}
