.popup.popup--login {
  background-color: white;
  padding-top: 100px;
}

.popup-login .popup__close {
  @media screen and (max-width: $desktop-width - 1) and (min-width: $tablet-width) {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      top: 50%;
      left: 50%;
      width: 25px;
    }
  }
}

.popup-login {
  width: 430px;
  min-height: 586px;
  padding: 138px 45px 25px;
  background-color: $bg;
  background-image: url("../img/bg_login.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg_login@2x.jpg");
  }

  @media screen and (max-width: $desktop-width - 1) {
    width: 442px;
    padding: 138px 51px 25px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    width: 270px;
    min-height: 470px;
    padding: 84px 15px 25px;
  }
}

.popup-login__form {
  padding-top: 50px;

  @media screen and (max-width: $tablet-width - 1) {
    padding-top: 36px;
  }

  h2 {
    @include reset-text;
    margin-bottom: 23px;
    text-align: center;
    font-size: 34px;
    line-height: 130%;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 24px;
      margin: 0 auto 18px;
    }
  }

  input {
    min-height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $text-main;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $text-main;
    transition: all ease 0.6s;

    &:last-of-type {
      margin-bottom: 0;

      @media screen and (max-width: $tablet-width - 1) {
        margin-bottom: 3px;
      }
    }

    &:hover,
    &:focus {
      color: $text-accent;
      box-shadow: inset 0 -6px 10px -3px rgba($main, 0.5);
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: $text-accent;
      transition: all ease 0.4s;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: $text-main;
    }
  }
}

.popup-login__forgot-pass {
  width: fit-content;
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $text-accent;

  &:hover,
  &:focus {
    color: $text-main;
  }

  &:active {
    opacity: 0.7;
  }
}

.popup-login__inputs {
  margin-bottom: 45px;

  @media screen and (max-width: $tablet-width - 1) {
    margin-bottom: 35px;
  }
}

.popup-login__btn-submit {
  width: 100%;
  min-height: 68px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-light;
  background-color: $main;
  border: 1px solid $main;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background: $main-hover;
    box-shadow: 0 2px 5px 1px black;
  }

  &:active {
    background: $main-active;
    opacity: 0.7;
  }
}

.popup-login__form + p {
  @include reset-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-accent;
  text-align: center;

  a {
    color: $text-main;

    &:hover,
    &:focus {
      color: $main;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
