.popup-filter {
  @media screen and (max-width: $desktop-width - 1) {
    .filter {
      display: none;
    }

    .popup-filter__show {
      display: block;
    }
  }
}

.popup-filter--no-js {
  @media screen and (max-width: $desktop-width - 1) {
    .popup-filter__show {
      display: none;
    }

    .filter {
      display: block;
    }
  }
}

.popup-filter--opened {
  @media screen and (max-width: $desktop-width - 1) {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    background: white;
    z-index: 50;
    overflow-y: scroll;
    transition: all 0.8s ease;

    .filter {
      display: block;
      top: 27px;
      left: 0;
      width: 442px;
      position: relative;
      transition: none;
      box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);
    }

    .popup-filter__show {
      display: none;
    }

    .popup-filter__close {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: black;
      transition: all 0.6s ease;
      transform: translateX(50%) translateY(-50%);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 17px;
        height: 2px;
        background-color: white;
        transform: translate(-50%) translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
      }

      &:hover,
      &:focus {
        background-color: $main;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  @media screen and (max-width: $tablet-width - 1) {
    .filter {
      top: 52px;
      left: 0;
      width: 100%;
    }
  }
}
