.popup-cart {
  width: 500px;
  min-height: 439px;
  padding: 47px 35px 25px;
  background-color: white;

  @media screen and (max-width: $tablet-width - 1) {
    width: 100%;
    min-height: 519px;
    padding: 40px 15px 25px;
  }

  h2 {
    @include reset-text;
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    line-height: 130%;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;

    @media screen and (max-width: $tablet-width - 1) {
      width: 73%;
      font-size: 24px;
      line-height: 120%;
      margin: 0 auto 30px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 44%;
    width: 500px;
    height: 1px;
    background-color: #f6f5f4;
  }
}

.popup-cart__item {
  display: flex;
  margin-bottom: 58px;

  @media screen and (max-width: $tablet-width - 1) {
    margin-bottom: 48px;
  }

  img {
    width: 84px;
    height: 79px;
    margin-right: 20px;

    @media screen and (max-width: $tablet-width - 1) {
      width: 70px;
      height: 63px;
      margin-right: 15px;
    }
  }
}

.popup-cart__item-name {
  @include reset-list;
  display: flex;
  flex-direction: column;

  h3 {
    @include reset-text;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 130%;
    font-family: "Cormorant Garamond", "Tahoma", sans-serif;

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 16px;
    }
  }

  p {
    @include reset-text;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 16px;
    }
  }
}

.popup-cart__count {
  @include reset-list;
  margin-left: auto;
  margin-right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    position: relative;
    padding: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: transparent;
    cursor: pointer;

    &:active {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      width: 85%;
      height: 2px;
      top: 50%;
      left: 0;
      background: $text-accent;
      transition: all 0.6s ease;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background: $text-main;
    }
  }

  p {
    @include reset-text;
    font-size: 18px;
    line-height: 130%;
    text-align: center;

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 16px;
    }
  }

  .popup-cart__add::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 2px;
    top: 50%;
    left: 0;
    background: $text-accent;
    transform: rotate(90deg);
    transition: all 0.6s ease;
  }

  .popup-cart__remove::before {
    top: 30%;
    left: 0;
  }
}

.popup-cart__total {
  @include reset-list;
  width: 100%;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $tablet-width - 1) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 33px;
    font-size: 16px;
  }

  p {
    @include reset-text;
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;

    @media screen and (max-width: $tablet-width - 1) {
      font-size: 12px;
    }
  }
}

.popup-cart__total-items {
  font-weight: normal;

  @media screen and (max-width: $tablet-width - 1) {
    margin-bottom: 14px;
  }
}

.popup-cart__links {
  @include reset-list;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $tablet-width - 1) {
    flex-direction: column;
  }
}

.popup-cart__link {
  width: 200px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-light;
  background-color: $main;
  border: 1px solid $main;
  cursor: pointer;
  transition: all 0.5s ease;

  @media screen and (max-width: $tablet-width - 1) {
    width: 100%;
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    background: $main-hover;
    box-shadow: 0 2px 5px 1px black;
  }

  &:active {
    background: $main-active;
    opacity: 0.7;
  }

  &[href="catalog.html"] {
    background: transparent;
    color: $text-main;
  }
}
