@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/cormorant-garamond-v10-latin-italic.woff2') format('woff2'),
       url('../fonts/cormorant-garamond-v10-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/cormorant-garamond-v10-latin-regular.woff2') format('woff2'),
       url('../fonts/cormorant-garamond-v10-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../fonts/cormorant-garamond-v10-latin-500.woff2') format('woff2'),
       url('../fonts/cormorant-garamond-v10-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/cormorant-garamond-v10-latin-700.woff2') format('woff2'),
       url('../fonts/cormorant-garamond-v10-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
       url('../fonts/poppins-v15-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
       url('../fonts/poppins-v15-latin-700.woff') format('woff');
}
